{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<br>
<a href="/admin/author/new"><button>Créer un nouvel auteur</button></a>
<a href="/admin/editor/new"><button>Créer un nouvel éditeur</button></a>
<a href="/admin/book/new"><button>Créer un nouveau livre</button></a>
{% endblock %}
